<div class="game-contents">
  <% @games.each do |game| %>
    <li class='lists'>
    <%= image_tag game.image, class: "game-img" %>
      <p><%= game.hardware.name %></p>    
      <p><%= game.game_title %></p>
      <span class="name">
      </span>
    </li>
  <% end %>
</div>