<div class="wrapper">
  <div class="reft-bar">
    <%= render "reft_bar"%>
  </div>
  <div class="main-bar">
    <%= render "main_bar"%>
  </div>
  <div class="right-bar">
    <%= render "right_bar"%>
  </div>
</div>