a {
  text-decoration: none;
}

html {
  background-color: black;
}

.title {
  background-image: image-url('furima-header01.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 32pt;
  padding: 5vh 15vw;
  color: #fff;
}

.hardware {
  background: linear-gradient(#1268d8,#052c5f);
  margin: 3px;
  border: 1px solid white ;
  border-radius: 0.5em;
}

ul {
  display: flex;
  justify-content: center;
  padding: 5px;
}

li {
  display: inline;
  padding: 5px;
  font-size: 20px;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.reft-bar {
  width: 15vw;
  background: linear-gradient(#1268d8,#052c5f);
  margin: 3px;
  border: 1px solid white ;
  border-radius: 0.5em;
  height: 100vh;
}

.right-bar {
  width: 15vw;
  background: linear-gradient(#1268d8,#052c5f);
  margin: 3px;
  border: 1px solid white ;
  border-radius: 0.5em;
  height: 100vh;
}

.main-bar {
  width: 70vw;
  background: linear-gradient(#1268d8,#052c5f);
  margin: 3px;
  border: 1px solid white ;
  border-radius: 0.5em;
  height: 100vh;
  color: #fff;
}

footer {
  margin: 3px;
  color: #fff;
  text-align: right;
}

.game-form {
  display: flex;
  justify-content: center;
  width: 70vw;
  background: linear-gradient(#1268d8,#052c5f);
  margin: 3px;
  border: 1px solid white ;
  border-radius: 0.5em;
  height: 700px;
  color: #fff;

}
.game_input {
  width: 60vw;
  padding: 20px;
  border: 1px solid white ;
  border-radius: 0.5em;
}

.game_info_input {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.game_title {
  display: flex;
}

.title_form {
  width: 30vw;
  resize: none;
}

.url_form {
  width: 30vw;
  resize: none;
}

.official_url {
  display: flex;
}

.game_hardware {
  display: flex;
}

.game_genre {
  display: flex;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

.registration-btns {
  display: flex;
  justify-content: center;
}