.game-show {
  width: 70vw;
  background: linear-gradient(#1268d8,#052c5f);
  display: flex;
  margin: 3px;
  border: 1px solid white ;
  border-radius: 0.5em;
  height: 100vh;
  color: #fff;
  overflow-y: scroll;
}

.game-show-img {
  height: 40vh;
  width: 30vw;
  min-height: 400px;
  background-color: #cdcaca;
  object-fit: contain; 
}

.detail-game {
  width: 20%;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
    width: 80%;
    padding: 20px;
    border: 1px solid #dedede;
    font-size: 14px;
}

.detail-table {
  width: 100%;
  margin-top: 30px;
}

.comments-field{
  padding: 10px 0 ;
  margin: 5px 20px 5px 10px;
  border: 1px solid white ;
  border-radius: 0.5em;

}
textarea {
  margin-top: 5px;
  width: 35vw;
  resize: none;
  height:100px;
}